@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .list-pipe > li::before {
    content: "|";
    /* padding: 0.5rem; */
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .list-pipe > li:first-child::before {
    content: none;
  }

  .list-item > li::before {
    content: "";
    padding: 0;
  }

  .list-item > li {
    list-style-type: none;
    margin-left: 0rem;
  }

  .container {
    @apply mx-auto max-w-screen-2xl;
  }

  .link {
    @apply block text-sm hover:underline;
  }

  .button {
    @apply block relative px-4 py-2 border border-white text-white bg-blue-900;
  }

  .button:hover {
    @apply bg-gray-200 text-gray-900 cursor-pointer;
  }

  .ctaButton {
    @apply rounded-full;
  }

  .ctaButton:hover {
    /* @apply bg-gray-200; */
  }

  .title {
    @apply uppercase font-semibold tracking-wider text-xl  text-red-800;
  }

  .industries-title {
    @apply font-semibold text-base;
  }

  .image-container {
    position: relative;
    width: 100%;
    height: 500px; /* Fixed height for the carousel */
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgba(0, 0, 0, 0.7); /* Optional: for text readability */
    text-align: center;
    padding: 20px;
  }

  .overlay h2 {
    margin: 0;
    font-size: 2em;
  }

  .overlay p {
    margin: 10px 0 0;
    font-size: 1.2em;
  }

  .hero-background {
    position: relative;
    background-image: url("../../../public//images/hero1.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 2rem;
  }

  .hero-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    );
    z-index: 1;
  }

  .hero-background > * {
    position: relative;
    z-index: 2;
    /* color: white; */
  }
}
